# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: "%kernel.root_dir%/data.db3"

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    mailchimp_apikey: 37ef6f23e82da5aee13be990b4e67a73-us12
    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt
    uploads: '%kernel.root_dir%/../web/uploads'
    avatars: '%kernel.root_dir%/../web/uploads/avatars'
    files: '%kernel.root_dir%/../web/uploads/files'
    templates: '%kernel.root_dir%/../web/uploads/templates'
    template_preview: '%kernel.root_dir%/../web/uploads/templates/preview'

    web_app_url: ~
