<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin access</title>
</head>
<body style="height:100%;margin:0;padding:64px 0 32px;width:100%;background-color:#f6f6f6">
<div style="height:100%;margin:0;padding:64px 0 32px;width:100%;background-color:#f6f6f6">
    <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%"
           id="m_-8670270257299599086bodyTable"
           style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#f6f6f6">
        <tr>
            <td align="center" valign="top" id="m_-8670270257299599086bodyCell"
                style="height:100%;margin:0;padding:0!important;width:100%;border-top:0">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-8670270257299599086templateContainer"
                       style="border-collapse:collapse;border:0;max-width:600px!important">
                    <tr>
                        <td valign="top" id="m_-8670270257299599086templatePreheader"
                            style="background:#f6f6f6 none no-repeat center/cover;background-color:#f6f6f6;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:63px;padding-bottom:0px;padding:0!important"></td>
                    </tr>
                    <tr>
                        <td valign="top" id="m_-8670270257299599086templateHeader"
                            style="background:#08618d none no-repeat center/cover;background-color:#08618d;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:0px;padding-bottom:0;padding:0!important">
                            <table align="left" border="0" cellpadding="0" cellspacing="0"
                                   style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%"
                                   class="m_-8670270257299599086mcnTextContentContainer">
                                <tr>
                                    <td valign="top" class="m_-8670270257299599086mcnTextContent"
                                        style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#2d2d2d;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:150%;text-align:left;padding:0!important">
                                        <div class="m_-8670270257299599086monLogo" style="padding:15px 0 0;text-align:center">
                                            <a class="m_-8670270257299599086monLogoLink"
                                               href="{{web_app_url}}"
                                               style="display:inline-block;color:#2d2d2d;font-weight:normal;text-decoration:underline"
                                               target="_blank"
                                               data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://findmyprofession.us12.list-manage1.com/track/click?u%3Dd65332cb2735cb137a3dd477b%26id%3D0012ef2e21%26e%3Dafd37b2524&amp;source=gmail&amp;ust=1500734979364000&amp;usg=AFQjCNFUK6JwtEqmBiToerJgNTCvk9CN5w">
                                                <img align="none"
                                                     src="https://ci3.googleusercontent.com/proxy/hohH381H3uHADh0UE3FzaImqddxL3uw8ekCo716ZaWqJC0uz5hPVOPMWil5ZvL8cWNcvxuvqwBH_XRrIFjYoIyJjPUXg4D1wo8WxqHIAaepQnF-CbLvDxG9zD7WgFd5Uk6PVkucf5DDIyBVJlX8LMwp0EdsTAgGLvslia90=s0-d-e1-ft#https://gallery.mailchimp.com/d65332cb2735cb137a3dd477b/images/1a3b2e26-d0d0-4249-a8bc-4ed87932e173.png"
                                                     style="width:210px;height:65px;margin:0px;border:0;outline:none;text-decoration:none;display:inline-block;max-width:100%"
                                                     class="CToWUd">
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" id="m_-8670270257299599086templateBody"
                            style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:2px none #eaeaea;padding-top:0;padding-bottom:0px;padding:0!important">
                            <table align="left" border="0" cellpadding="0" cellspacing="0"
                                   style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%"
                                   class="m_-8670270257299599086mcnTextContentContainer">
                                <tr>
                                    <td valign="top" class="m_-8670270257299599086mcnTextContent"
                                        style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left;padding:0!important">
                                        <div class="m_-8670270257299599086monEmailContent"
                                             style="padding:54px 40px 12px">
                                            <h1
                                                    style="display:block;margin:0;padding:0;color:#08618d;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:24px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal;text-align:center;text-transform:uppercase;margin-bottom:28px">
                                                Admin access</h1>
                                            <p>Full name: {{fullName}}</p>
                                            <p>Email: {{email}}</p>
                                            <p>Password: {{password}}</p>
                                            <p class="m_-8670270257299599086monNewMessage"
                                               style="padding: 0 0 0 14px; color: #989898;border-left: 2px solid #e9f2f6;font-family: Lato; font-size: 14px;          font-weight: 400;">
                                                If you didn't make this request, please ignore this email or report it to us.
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" id="m_-8670270257299599086templateFooter"
                            style="background:#e9f2f6 none no-repeat center/cover;background-color:#e9f2f6;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:0px;padding-bottom:0px;padding:0!important">
                            <table align="left" border="0" cellpadding="0" cellspacing="0"
                                   style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%"
                                   class="m_-8670270257299599086mcnTextContentContainer">
                                <tr>
                                    <td valign="top" class="m_-8670270257299599086mcnTextContent"
                                        style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#2d2d2d;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:150%;text-align:center;padding:0!important">
                                        <div class="m_-8670270257299599086monFooter" style="padding:4px 0 14px">
                                            <p class="m_-8670270257299599086monRegards"
                                               style="margin:10px 0;padding:0;margin-bottom:10px;color:#2d2d2d;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:25px!important;text-align:center">
                                                Best regards, <span style="display:block">Find My Profession Team</span></p>
                                            <ul class="m_-8670270257299599086monSocial"
                                                style="text-align:center;list-style:none;padding:6px 0 12px;margin:0 auto!important">
                                                <li style="display:inline-block;margin:0 2px"><a
                                                            class="m_-8670270257299599086monFacebook"
                                                            href="http://findmyprofession.us12.list-manage.com/track/click?u=d65332cb2735cb137a3dd477b&amp;id=cadee036c1&amp;e=afd37b2524"
                                                            style="background:url(https://ci4.googleusercontent.com/proxy/wtRkatYrRV5z9meupyUP__g1oEuYbHpzlqLoyEsga91eM_5Ur5KY15r_nLmR_StUTvwS_vSSxBkXKqRLxqxA_SgPmYaWd4G3P-skeXukuQKNB1pJcJjWEKn4ecK5ZeCIMfpPWMgGazjrVMQDQlv65x2rpMuGlKm_2iCVw5c=s0-d-e1-ft#https://gallery.mailchimp.com/d65332cb2735cb137a3dd477b/images/496d72cf-0c75-4c55-ba22-c500faf0c43d.png) center/100% no-repeat;display:inline-block;font-size:0;width:50px;height:50px;color:#2d2d2d;font-weight:normal;text-decoration:underline"
                                                            target="_blank"
                                                            data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://findmyprofession.us12.list-manage.com/track/click?u%3Dd65332cb2735cb137a3dd477b%26id%3Dcadee036c1%26e%3Dafd37b2524&amp;source=gmail&amp;ust=1500734979364000&amp;usg=AFQjCNEZmZApCW91bMzICqGe4HYpvjo4FA">facebook</a>
                                                </li>
                                                <li style="display:inline-block;margin:0 2px"><a
                                                            class="m_-8670270257299599086monTwitter"
                                                            href="http://findmyprofession.us12.list-manage1.com/track/click?u=d65332cb2735cb137a3dd477b&amp;id=d746d29716&amp;e=afd37b2524"
                                                            style="background:url(https://ci4.googleusercontent.com/proxy/8TYXIRQuTlYnFmZGL4oONql5zaKRmUbi6mpaqAnE89usdvUc6eXi-usUyXUjo1flR3u2FNpksP1Dh20WdfXOqwH0da1HxajjYPaAfLeZq9LJ7qajC89Ydu6C6zt_1w4N7wQC_OrozzPmPhSlFdgYka2tMUV6DbrzT3S0qN4=s0-d-e1-ft#https://gallery.mailchimp.com/d65332cb2735cb137a3dd477b/images/bd99b150-48c0-4680-a9a9-7b71f4416387.png) center/100% no-repeat;display:inline-block;font-size:0;width:50px;height:50px;color:#2d2d2d;font-weight:normal;text-decoration:underline"
                                                            target="_blank"
                                                            data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://findmyprofession.us12.list-manage1.com/track/click?u%3Dd65332cb2735cb137a3dd477b%26id%3Dd746d29716%26e%3Dafd37b2524&amp;source=gmail&amp;ust=1500734979364000&amp;usg=AFQjCNFP3_24U8omeRfVPQ-QlrB1uzactg">twitter</a>
                                                </li>
                                                <li style="display:inline-block;margin:0 2px"><a
                                                            class="m_-8670270257299599086monLinkedin"
                                                            href="http://findmyprofession.us12.list-manage1.com/track/click?u=d65332cb2735cb137a3dd477b&amp;id=8ee66560fd&amp;e=afd37b2524"
                                                            style="background:url(https://ci4.googleusercontent.com/proxy/oUKl4P9FcaD0wcsTkAcRlrUwH6hzOv8XYm7CWA2XBIbfDwvykUbwibOBqNeHQAxRgtuve7w_tHwNRDaEo2znx_x9tvg1R5vJNl-vPCFvi0lHx2hRZSY8FAEd6p7hTcP_ZsvQByjF7b1ZwQ-foL7v9k8eQegW6zyykUx3rtM=s0-d-e1-ft#https://gallery.mailchimp.com/d65332cb2735cb137a3dd477b/images/94bd300c-a496-47dc-91e1-bf717231e3f6.png) center/100% no-repeat;display:inline-block;font-size:0;width:50px;height:50px;color:#2d2d2d;font-weight:normal;text-decoration:underline"
                                                            target="_blank"
                                                            data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://findmyprofession.us12.list-manage1.com/track/click?u%3Dd65332cb2735cb137a3dd477b%26id%3D8ee66560fd%26e%3Dafd37b2524&amp;source=gmail&amp;ust=1500734979364000&amp;usg=AFQjCNH5tq5kYkyFUrKz0XCalNiK2Lu2rw">linkedin</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
