{% extends "::base.html.twig" %}

{% block body %}
    <body class="hold-transition login-page">
<div class="login-box">

    <!-- /.login-logo -->
    <div class="login-box-body">
        <div class="login-logo">
            <a href="/"><b>Forgot password</b></a>
        </div>
        <p class="login-box-msg">Please fill in the email</p>

        <form action="{{ path('admin_forgot_password') }}" method="post">
            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="Email" name="email" required="required">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Recover</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <a href="{{ path('login') }}">Back to login page</a><br>
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
{% endblock %}